.main-slider {
    position: relative;

    &__item {
        position: relative;
    }

    .slick-dots {
        padding: 0;
        margin: 0;
        position: absolute;
        bottom: 5%;
        right: 3%;
        display: flex !important;


        li {
            margin: 0 7.5px;
            list-style: none;

            &.slick-active {
                button {
                    background-color: $secondary-text-color;
                }
            }

            button {
                width: 15px;
                height: 15px;
                padding: 0;
                font-size: 0;
                border: none;
                border-radius: 50%;
                box-shadow: none;
                transition: 0.2s;
                background-color: $color_white;
            }
        }
    }
}
