header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 4px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  border-bottom: 1px solid $color_black;
}
.header__top {
  margin: 30px 15px 15px;
  display: flex;
  justify-content: space-between;
  &__title {
    margin: 15px 0;
    text-align: center;
    h1 {
      margin: 0;
      font-family: $font_accent;
      font-size: 3em;
      line-height: 1em;
    }
    @media (max-width: 600px) {
      margin-top: 0;
    }
  }
  @media (max-width: 600px) {
    flex-direction: column;
  }
}
ul.header__lang-menu {
  padding: 0;
  margin: 15px 0;
  display: flex;
  justify-content: flex-end;
  li {
    font-size: 0.8em;
    list-style: none;
    margin-left: 15px;
    text-transform: uppercase;
  }
  li.current-lang {
    border-bottom: 1px solid black;
  }
}

ul.header_nav {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid $color_black;
  border-top: 1px solid $color_black;
  @media (max-width: 666px) {
    justify-content: center;
  }
  li {
    margin: 5px 15px;
    font-family: $font_accent;
    text-transform: uppercase;
    font-size: 1.3em;
    list-style: none;
    &:hover {
      transition: $transition;
      //transform: scale(1.1);
      text-shadow: 3px 3px 6px rgb(173, 173, 173);
    }
    @media (max-width: 666px) {
      font-size: 1em;
    }
  }
  .current-menu-item {
    a {
      color: $secondary-text-color;
    }
  }
}
