body, a {
  color: $primary-text-color;
}
figure {
  margin: 1.5em 0;
}
p {
  margin: 1em 0;
}
.wp-block-image {
  margin: 0;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 25px;
}

.main_page_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.container_sticky {
  position: sticky;
  top: 25px;

  ul * {
    transition: .4s linear;
  }
  ul {
    list-style-type: circle;
    list-style-position: inside;
    padding: 0 10px;
    margin: 0;
  }
  li {
    margin-bottom: 10px;
    &:hover a {
      color: $primary-text-color;
    }
  }
  a {
    text-decoration: none;
    color: #555;
  }
  section {
    margin-bottom: 30px;
  }
  .widget-title {
    font-family: $font_accent;
    font-weight: normal;
    text-transform: uppercase;
  }
}
.breadcrumb {
  margin-bottom: 25px;
  font-weight: bold;
}
