body, a {
  color: $primary-text-color;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 25px;
  @media (max-width: 500px) {
    padding: 0 20px;
  }
}

.main_page_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.container_sticky {
  position: sticky;
  top: 25px;
}
