.js-scroll-to-top {
  display: none;
  border: 1px solid $secondary-text-color;
  padding: 10px 15px;
  text-align: center;
  margin: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s;
  z-index: 1000;
  font-size: 1em;
  color: $secondary-text-color;
  border-radius: 10px;
  background-color: $color_white;
}

.js-scroll-to-top:hover {
  cursor: pointer;
  color: #434343;
  box-shadow: 0 0 20px 0 #c7c7c7;
}

.show {
  display: inline-block;
}
