@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

.search {
  &-form {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #575756;
    padding: 4px 0;
  }
  &-field {
    font-size: 0.8em;
    margin: 0;
    width: 70%;
    outline: 0;
    border: none;
    &::placeholder {
      color: color(#575756 a(0.8));
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
  }
  &-submit {
    font-size: 0.8em;
    text-transform: uppercase;
    width: 30%;
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    border-left: 1px solid #575756;
    border-radius: 0;
    cursor: pointer;
    background-image: url(../img/style/search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
  }
}
